.section {
  margin-top: 64px;
}

.title {
  margin-bottom: 32px;
  color: var(--main);
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.list {
  display: grid;
  gap: 20px;
}

.status {
  color: var(--gray);
}

@media screen and (min-width: 768px) {
  .section {
    margin-top: 100px;
  }

  .title {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 28px;
  }

  .list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px 20px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    margin-top: 120px;
  }

  .list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
