.pathInfo {
	font-family: "Mulish", sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: -0.24px;
	text-transform: uppercase;
	margin-bottom: 40px;
	padding-top: 126px;
}

.pathLink {
	color: #bfbebe;
	text-decoration: none;
}

.currentPath {
	color: #050505;
}

.pathLink:hover,
.pathLink:focus-visible {
	text-decoration: underline;
}

@media screen and (min-width: 768px) {
	.pathInfo {
		padding-top: 150px;
	}
}
@media screen and (min-width: 1440px) {
	.pathInfo {
		padding-top: 170px;
	}
}
