.TabsList {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  padding-bottom: 14px;
  margin-bottom: 8px;
  border-bottom: 1px solid rgba(5, 5, 5, 0.1);
  overflow-x: auto;
}

.TabsList a {
  display: inline-block;
  padding-bottom: 12px;
  margin-bottom: -13px;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: var(--gray);
  white-space: nowrap;
  transition: color var(--trans-norm);
}

.TabsList a:hover,
.TabsList a:focus-visible {
  color: #050505;
}

.active {
  color: #050505 !important;
  font-weight: 700;
  border-bottom-color: #050505;
}

@media screen and (min-width: 768px) {
  .TabsList {
    gap: 32px;
  }
}
