.nav_list {
  display: flex;
}

.nav_link {
  display: block;
  padding: 14px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin-right: 40px;
  text-transform: uppercase;
  color: var(--white);
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 30px;
}

.nav_link:last-child {
  margin-right: 0;
}

.nav_link:hover {
  border: 1px solid var(--gray);
}

.active {
  border: 1px solid var(--gray);
}

@media screen and (min-width: 768px) {
  .nav_link {
    padding: 14px 30px;
  }
}
