.recipeInfo {
  display: grid;
  width: 100%;
  gap: 32px;
}

.recipeInfo > * {
  min-width: 0;
}

@media screen and (min-width: 768px) {
  .recipeInfo {
    grid-template-columns: minmax(0, 704px);
    gap: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .recipeInfo {
    grid-template-columns: 551px 649px;
    width: 1280px;
    column-gap: 80px;
    row-gap: 40px;
    align-items: start;
  }

  .recipeInfo > :first-child {
    grid-column: 1;
    grid-row: 1 / span 3;
  }

  .recipeInfo > :not(:first-child) {
    grid-column: 2;
  }
}
