.recipeInfo {
  display: grid;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .recipeInfo {
    gap: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .recipeInfo {
    grid-template-columns: minmax(0, 551px) minmax(0, 1fr);
    column-gap: 80px;
    row-gap: 40px;
    align-items: start;
  }

  .ingredients {
    grid-column: 2;
    grid-row: 2;
  }

  .preparation {
    grid-column: 2;
    grid-row: 3;
  }
}
