.auth_bar {
  display: flex;
  background-color: var(--white);
  border-radius: 30px;
  margin-left: auto;
}

.auth_bar button {
  padding: 10px 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
  transition: ease 0.1s;
}

.auth_bar button:first-child {
  color: var(--main);
  border: 1px solid var(--white);
  background-color: var(--white);
}

.auth_bar button:last-child {
  color: var(--white);
  border: 1px solid var(--gray);
  background-color: var(--text);
}

.auth_bar button:first-child:hover {
  color: var(--white);
  border: 1px solid var(--gray);
  background-color: var(--text);
}

.auth_bar button:first-child:hover ~ button:last-child {
  color: var(--main);
  border: 1px solid var(--white);
  background-color: var(--white);
}

.auth_bar__signin button:first-child {
  color: var(--white);
  border: 1px solid var(--gray);
  background-color: var(--text);
}

.auth_bar__signin button:last-child {
  color: var(--main);
  border: 1px solid var(--white);
  background-color: var(--white);
}

.auth_bar__signup button:first-child:hover {
  color: var(--main);
  border: 1px solid var(--white);
  background-color: var(--white);
}

.auth_bar__signup button:first-child:hover ~ button:last-child {
  color: var(--white);
  border: 1px solid var(--gray);
  background-color: var(--text);
}

@media screen and (min-width: 768px) {
  .auth_bar {
    margin-left: inherit;
  }

  .auth_bar button {
    padding: 14px 30px;
  }
}
