.NotFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 126px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
.warning {
  color: var(--main);
}
.link {
  color: var(--error);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .NotFoundPage {
    padding-top: 150px;
  }
}

@media screen and (min-width: 1440px) {
  .NotFoundPage {
    padding-top: 170px;
  }
}
